{
    "presets": [
        "env",
        "react"
    ],
    
    "env": {
        "development": {
            "plugins": [
                [
                    "import",
                    {
                        "libraryName": "antd",
                        "style": "css",
                        "libraryDirectory": "es"
                    }
                ],
                [
                    "react-transform",
                    {
                        "transforms": [
                            {
                                "transform": "react-transform-hmr",
                                "imports": [
                                    "react"
                                ],
                                "locals": [
                                    "module"
                                ]
                            }
                        ]
                    }
                ]
            ]
        }
    }
}